@using System.Collections;


@model IEnumerable<Produit>
@{
    ViewData["Title"] = "IndexP";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Produit List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Produit" asp-action="CreateP" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Produit
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name Produit
                </th>
                <th>
                    Reference
                </th>
                <th>
                    QTT
                </th>
                <th>
                    Prix
                </th>

                <th>
                    Warehouse name
                </th>
                <th>
                    Fournisseur_Name
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">
                        @obj.NameP
                    </td>
                    <td width="50%">
                        @obj.Reference
                    </td>
                    <td width="50%">
                        @obj.QTT
                    </td>
                    <td width="50%">
                        @obj.Prix
                    </td>

                    <td width="50%">
                        @obj.Warehouse_Name
                    </td>
                    <td width="50%">
                        @obj.Fournisseur_Name
                    </td>


                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Produit" asp-action="EditP" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Produit" asp-action="DeleteP" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


